<html>
{% load static %}
<head>
	<title>parkin system</title>
	<link href="{% static 'css/style_login.css' %}" rel="stylesheet">
<link href="css/style_login.css" rel="stylesheet">
</head>
<body>
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">

        {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
            {% csrf_token %}

                        {{ form.new_password1.errors }}
            <p class="anwar" >New password:</p>
                        {{ form.new_password1 }}


                        {{ form.new_password2.errors }}
            <p class="anwar">Confirm password:</p>
                        {{ form.new_password2 }}



                        <input class="button" type="submit" value="Change my password">


            </form>
        {% else %}
            <h1>Password reset failed</h1>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}