<html>
{% load static %}
<head>
	<title>parkin system</title>
	<link href="{% static 'css/style_login.css' %}" rel="stylesheet">

<link href="css/style_login.css" rel="stylesheet">
</head>
<body>
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">


        <form action="" method="post">
            <label class="test" aria-hidden="true"> enter your Email</label>
            {% csrf_token %}
            {% if form.email.errors %}
              {{ form.email.errors }}
            {% endif %}
                <p>{{ form.email }}</p>
              <input  type="submit" class="button" value="Reset password">
            </form>



	</div>
</body>
</html>